
* {
  margin: 0;
  padding: 0;
}

.navbar--items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar--item {
    float: right;
    border-right:1px solid #bbb;
}

.navbar--item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

navbar--item a:hover:not(.active) {
    background-color: #e22a2a;
}

.navbar--item a:hover {
    background-color: #4CAF50;
}

.navbar_Name {
  float: left;
}

.home {
    background-color: #4CAF50;
    height: 900px;
}

.home-section {
    width: 900px;
    margin: auto;
    background-color: aqua;
}
